:root {
    --fw-regular: 300;
    --fw-semi-bold: 600;
    --fw-extra-bold: 800;

    --fs-extra-small: 12px;
    --fs-small: 14px;
    --fs-regular: 1rem;
    --fs-large: 18px;
    --fs-extra-large: 2rem;
    
    --dark-grey-blue: 209, 23%, 22%;
    --dark-blue: 207, 26%, 17%;
    --black: 200, 15%, 8%;
    --grey: 0, 0%, 52%;
    --off-white: 0, 0%, 98%;
    --white: 0, 0%, 100%;

    --border-radius: 5px;
    /* - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
    - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
    - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)

    - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
    - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)

    - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img, svg {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: visible;
}

h2 {
    font-weight: var(--fw-extra-bold);
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 23px;
}

.country-card-details>h2 {
    font-size: var(--fs-large);
    line-height: 26px;
    margin-bottom: 1rem;
}

h3 {
    display: -webkit-inline-box;
    font-weight: var(--fw-semi-bold);
    font-size: 12px;
    line-height: 32px;
}

h3>p {
    font-weight: var(--fw-regular);
}

.country-card-details>h3 {
    font-size: var(--fs-small);
    line-height: var(--fs-regular);
    margin-bottom: .5rem;
}

body {
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--fs-small);
    line-height: 1rem;
    font-weight: var(--fw-regular);
    color: hsl(var(--white));
}

body.light-mode {
    background-color: hsl(var(--off-white));
}

body.dark-mode {
    background-color: hsl(var(--dark-blue));
    color: hsl(var(--black));
}

.light-mode {
    background-color: hsl(var(--white));
    color: hsl(var(--black));
}

.dark-mode {
    background-color: hsl(var(--dark-grey-blue));
    color: hsl(var(--white));
}

header {
    padding: 30px 16px;
    display: flex;
    justify-content: space-between;
}

.box-shadow {
    border: none;
    box-shadow: 0 2px 9px hsl(var(--black), 0.06);
}

header.dark-mode {
    border-bottom: hsl(var(--dark-blue));
}

header.light-mode {
    border-bottom: hsl(var(--grey));
}

h1 {
    margin: unset;
    line-height: 20px;
    font-size: 14px;
    font-weight: var(--fw-extra-bold);
}

button:hover {
    cursor: pointer;
}

button {
    border: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: var( --fs-extra-small);
    line-height: var(--fs-regular);
}

#dark-mode-btn {
    font-weight: var(--fw-semi-bold);
    line-height: 16px;
    width: 96px;
}

#back-btn {
    font-size: 14px;
    font-weight: var(--fw-regular);
    margin-top: 2rem;
    width: 104px;
    height: 32px;
    padding: 0 24px;
    box-shadow: 0 4px 4px hsl(var(--black), 0.06), 0 0 7px 0px hsl(var(--black), 0.06);
}

main {
    padding: 24px 16px;
}

#parameters {
    display: grid;
    grid-template-rows: 48px 48px;
    gap: 40px;
    grid-auto-columns: 100%;
}

#search {
    border-radius: var(--border-radius);
    overflow: hidden;
}

#search>input {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: var(--border-radius);
    font-size: 12px;
    padding: 0 0 0 74px;
}

#search>i {
    position: absolute;
    margin-top: 16px;
    margin-left: 32px;
}

#continents-btn {
    width: 200px;
    height: 100%;
    border-radius: var(--border-radius);
    padding: 0 24px;
    text-align: left;
}

.showFlexBox {
    display: flex;
}

.hide {
    display: none;
}

#continents-list {
    position: absolute;
    width: 200px;
    height: 144px;
    padding: 16px 0;
    margin-top: 4px;
    border-radius: var(--border-radius);
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
}

#continents-list button {
    text-align: left;
    padding: 0 24px;
    line-height: 16px;
    width: 100%;
}

#countries {
    margin: 32px 40px 52px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 75px;
}

.country-card {
    min-height: 336px;
    border-radius: var(--border-radius);
    overflow: hidden;
    aspect-ratio: 1 / 1.2727;
}

.country-card:hover {
    cursor: pointer;
}

.country-card-details {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.preview-country-name{
    font-size: var(--fs-large);
    font-weight: var(--fw-extra-bold);
    margin-bottom: 1rem;
    line-height: 26px;
}
.preview-detail-prefix {
    font-weight: var(--fw-semi-bold);
    margin-bottom: 8px;
}

#country-preview {
    width: 320px;
    margin: 64px auto;
    align-items: center;
    flex-direction: column;
}

#country-preview-flag {
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    height: fit-content;
}

#country-preview-details {
    margin-top: 44px;
    width: 100%;
    background-color: transparent;
}

#country-preview-details>div {
    display: flex;
    flex-direction: column;
}

#country-preview-details>div>div {
    display: flex;
    flex-direction: column;
}

#country-preview-details>div>div:first-child {
    margin-bottom: 32px;
}

.attribution { 
    font-size: .6875rem;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: hsl(var(--grey)); 
}

.attribution a {
    color: hsl(var(--grey));
    font-size: .75rem; 
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

@media (min-width: 650px) {
    header {
        padding: 24px 80px;
    }

    h1 {
        line-height: 2rem;
        font-size: 1.5rem;
    }

    h2 {
        font-size: var(--fs-extra-large);
    }
    
    button {
        font-size: 14px;
    }

    #dark-mode-btn {
        padding: 0 1rem;
        width: 136px;
        height: 2rem;
        font-size: var(--fs-regular);
    }

    main {
        padding: 48px 80px;
    }
    
    #parameters {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 136px;
    }

    #parameters {
        display: grid;
        grid-template-rows: 48px 48px;
        gap: 40px;
        grid-auto-columns: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-direction: row; 
        height: 56px;
    }

    #search {
        width: 100%;
        max-width: 480px;
        margin-right: 40px;
    }

    #search>input {
        font-size: 14px;
        line-height: 20px;
        height: 100%;
    }

    #search>i {
        margin-top: 20px;
    }

    #continents-list {
        height: 164px;
    }

    #continents-list button {
        line-height: 20px;
    }

    #countries {
        margin: 48px 0;
    }

    .country-card {
        max-width: 264px;
    }

    #country-preview {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #country-preview-flag {
        flex-basis: 50%;
        width: 560px;
        min-width: 350px;
        max-width: 560px;
    }

    #country-preview-details {
        flex-basis: 50%;
        margin-left: 80px;
        min-width: 350px;
        max-width: 600px;
    }

    #country-preview-details>div {
        flex-direction: row;
        justify-content: space-between;
    }
    #country-preview-details button {
        width: 96px;
        height: 28px;
        justify-content: center;
        margin-left: 1rem;
    }
}